.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.small {
  font-size: small;
}

.large {
  font-size: large;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.white {
  color: white;
}

.interface {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
}

#editor {
  height: 60%;
  width: 60%;
}
